.contenedor{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: lllll#bbbbbb;
}

.texto{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: "inter";
    font-size: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background: lllll#bbbbbb;
}

.texto::placeholder{
    color: rgb(56, 5, 243);
}

.texto:focus,
.texto:active{
    border: none;
    outline: none;
}

.terminos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.terminos p{
    font-family: "inter";
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgb(0, 0, 0);
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 60%;
    left: 12%;
    top: 82%;
}

.b-encriptar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #0b009e;
    border-radius: 24px;
    font-family: "inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: aliceblue;
}

.b-desencriptar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #ffffff;
    border-radius: 24px;
    border-color: black;
    font-family: "inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.b-desencriptar:hover,
.b-encriptar:hover{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;

}

.encriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: #ffffff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 33px;
    border: 1px;


}

.mensaje-encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.mensaje-encriptado h2{
    width: 60%;
    font-family: "inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 180%;
    text-align: center;
    color: rgb(43, 42, 42);
}

.mensaje-encriptado p{
    width: 80%;
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    color: #6b6b6b;
}

.encriptado img{
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}

/* apps pequeñas*/

@media screen{
    .contenedor{
        display: flex;
        flex-direction: row;
    }
    .encriptado{
        width: 100%;
    }
    .texto{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }
    .terminos{
        width: 80%;
        left: 10%;
        top: 67%;
    }
    .terminos p{
        font-size: 16px;
    }
    .botones{
        width: 80%;
        left: 10%;
        top: 70%;
    }
    .b-encriptar,
    .b-desencriptar{
        width: 48%;
        border-radius: 15px;
    }
    .b-desencriptar:hover,
    .b-encriptar:hover{
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }
    .encriptado{
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }
    .mensaje-encriptado{
        width: 100%;
        top: 5%;
    }
    .encriptado img{
        top: 0;
        display: none;
        visibility: hidden;
    }
}

    

